<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoYōsei  妖精</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/x-icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/x-icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/x-icon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/x-icon/site.webmanifest" />
    <link rel="stylesheet" href="css/three-dots.min.css" />
    <link rel="stylesheet" href="css/splide.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <section id="header">

        <div class="nav-bar">
            <div class="brand">

                <a href="#hero">
                    <h1><span>Y</span>ōsei<span>  妖</span>精</h1>
                </a>
            </div>
            
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>

                    <li> <a href="#hero" data-after="Home">Home</a></li>
                    <li> <a href="#about" data-after="about">ROADMAP</a></li>
                    <li> <a href="#aboutus" data-after="about">AboutUS</a></li>
                    <li> <a href="#services" data-after="Services">TEAM</a></li>
                    <!-- <li> <a href="#projects" data-after="projects">GALLERY</a></li> -->
                    <li> <a href="#countdown1" data-after="countdown">COUNTDOWN</a></li>
                    
                      <li>
                        <a href="/">
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://discord.gg/HUr4hhuTkp"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <img src="images/header/discord.webp" alt="Discord" />
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://twitter.com/NFTyosei"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <img src="images/header/twitter.webp" alt="Twitter" />
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://opensea.io/collection/codecats"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <img src="images/header/opensea.webp" alt="Opensea" />
                        </a>
                      </li>
                      <li>
                        <button class="wallet-btn btn" id="connectWallet">
                          <span>Connect Wallet</span>
                        </button>
                      </li>
                      </div>
                    </div>
                  </header>
                </ul>
            </div>
        </div>
        
        </div>

    </section>
    <section id="hero">
      <div class="hero container">
          <div>
            <h1>Welcome,<span></span></h1>
            <h1>To CryptoYōsei  妖精 <span></span></h1>
            <h1> Your First NFT Social Club Collection<span></span></h1>

              <a href="#services" type="button" class="cta"> ENTER </a>
          </div>
      </div>
  </section>

     <section class="container not-connected">
      
      <div>
        <h2 id="welcomeH2"></h2>
        <h1 id="welcomeH1"></h1>
        <p id="welcomeP">
        
       </p>
      </div>
     
    </section> 
     <!--Service Section -->
     <section id="services">
      <div class="services container">
          <div class="service-top">
              <h1 class="section-title">THE<span>  </span>TEAM</h1>
              <p>CryptoYōsei  妖精 was created by 3 neighbors who wanted to draw unfiltered fairies</p>
              <!-- <p> Once You Get Hold Of A Crypto Fairy,  You Are gaining key  access to  The  Majic forest, whose benefits and offerings will surprise you over time. Your  Crypto  Fairy  will guide you  thru the digital world with 
                special events and benefits only for Crypto Fairy Forest Holders.</p> -->
          </div>
          <div class="service-bottom">
              <div class="service-item">
                  <div class="icon"><img src="./images/img/1122.png">
                      <h2>Eden</h2>
                      <p>The Artist And the diva</p>
                  </div>
              </div>
             
              <div class="service-item">
                  <div class="icon"><img src="./images/img/538.png">
                      <h2>Shilo</h2>
                      <p>in charge of the money
                          </p>
                  </div>
              </div>
              <div class="service-item">
                  <div class="icon" ><img src="./images/img/811.png">
                      <h2>Julie</h2>
                    <p>Drinking too much coffee</p>
                  </div>
              </div>


  </section>
  <!-- End Service Section -->



    <section id="countdown1">
       <div class="owner-status"></div>
      <div class="countdown">
        <ul
          id="countdown"  
          class="count-down" 
          data-date="May 25, 2022 4:00:00 PM UTC"
          >
          <li class="clock-item">

               <span class="count-number days">20</span>
              <p class="count-text">Days</p>
            </li>

            <li class="clock-item">
              <span class="count-number hours">20</span>
              <p class="count-text">Hour</p>
            </li>

            <li class="clock-item">
              <span class="count-number minutes">20</span>
              <p class="count-text">Min</p>
            </li>

            <li class="clock-item">
              <span class="count-number seconds">20</span>
              <p class="count-text">Sec</p>
            </li>
          </ul>
          <h2 id="subHeading"></h2>
        </div> -->
        <h1 id="mainHeading">NFT Drop Coming Soon!!</h1>
        <p id="mainText">
          A new batch of crazy CryptoYōsei will be available very soon!
        </p>
        <a
          id="actionButton"
          href="https://discord.gg/HUr4hhuTkp"
          target="_blank"
          rel="noopener noreferrer"
          class="hero-btn btn"
          ><span>Join the CryptoYōsei</span>
        </a>
        <div id="mintContainer" class="mint-container hidden">
          <div class="info-container">
            <div>
              <h3>Supply</h3>
              <p id="totalSupply">100</p>
            </div>
            <div>
              <h3>Price Per Mint</h3>
              <p id="pricePerMint">1 ETH</p>
            </div>
            <div>
              <h3>Max</h3>
              <p id="maxPerMint">5 per wallet</p>
            </div>
          </div>
          <div class="mint-qty">
            <span>
              <button class="input-number-decrement btn" id="mintDecrement">
                –
              </button>
              <input
                id="mintInput"
                class="input-number btn"
                type="number"
                value="1"
                min="1"
                max="5"
              />
              <button class="input-number-increment btn" id="mintIncrement">
                +
              </button>
            </span>
            <button id="setQtyMax" class="btn">SET MAX</button>
          </div>
          <div class="total-price-container">
            <h3>Total</h3>
            <p id="totalPrice">.001 ETH</p>
          </div>
          <button id="mintButton" class="hero-btn btn mint-btn">Mint</button>
        </div>
      </div>
      <div class="minted-container card show-card hidden">
        <h1>🎉</h1>
        <h2>Minted!</h2>
        <p>Here's your transaction link:</p>
        <a id="mintedTxnBtn" href="" target="_blank" rel="noopener noreferrer">
          <button class="hero-btn btn">View Transaction</button>
        </a>
        <p>View it in the collection:</p>
        <a
          id="mintedLinkBtn"
          href="https://testnets.opensea.io/collection/teststackr-collection"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="hero-btn btn">View Collection</button>
        </a>
      </div>
    </section>
<section id="services">
  <div class="container-1">

    <!-- <div class="box">
      <div class="container-3">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..." />
      </div>
    </div> -->
  
    <div class="leftbox">
      <nav>
        <a id="about"><i class="fas fa-tachometer-alt"></i></a>
        <a id="profile"> <i class="fas fa-user"></i> </a>
        <a id="settings"> <i class="fas fa-cog"></i> </a>
        <a id="messages"> <i class="fas fa-comments"></i> </a>
        <a id="notification"> <i class="fas fa-bell"></i> </a>
      </nav>
    </div>
    <!-- <div class="rightbox">
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              3rd May 2020<br> 7:00 PM
            </div>
            <div class="item-title">Chris Serrano posted a photo on your wall.</div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              19th May 2020<br> 3:00 PM
            </div>
            <div class="item-title">Mia Redwood commented on your last post.</div>
  
          </li>
  
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              17st June 2020<br> 7:00 PM
            </div>
            <div class="item-title">Lucas McAlister just send you a message.</div>
  
          </li>
  
        </ul>
  
      </div> -->
    </div>
  </div>
</section>

<section id="About">
  <div id="spinner" class="dot-spin"></div>

  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/1.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/2.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/3.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/4.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/5.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/6.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/7.png" />
        </li>
        <li class="splide__slide">
          <img src="images/slider/8.png" />
        </li>
      </ul>
    </div>
  </div>
</section>
  
  <section class="timeline" id="about">
    <ul>
      <li>
        <div>
          <time> # STAGE  NO. 1 <br>PRE MINT LAUNCH  </time>- Community building<br>- Community Funds<br>- Charity Funds<br> - 180 Crypto Yōsei  妖精 Held for Marketing<br>- Discord OG white List: 27/02/23 <br>- Early pre-sale: 28/02/23
        </div>
      </li>
      <li>
        <div>
          <time> # STAGE  NO. 2 <br>OPEN  FOREST ANNOUNCEMENT </time>- 3 ETH added to the Community Fund every 25% of Sales<br>- 100+ ETH reserved for Partnerships, Hires, and Marketing Campaigns

      </li>
      <li>
        <div>
          <time> # STAGE  NO. 3 <br>ADVENTURE STARTS </time>- Adventure is announced <br> - Community voting for donate charity funds<br>- 100+ ETH reserved for Partnerships, Hires, and Marketing Campaigns

      </li>
      <li>
        <div>
          <time> # STAGE  NO. 4 CryptoYōsei  妖精 FILTERED </time>- Launch a collection of 5,000 companion NFTs that will be utilized within the Crypto Fairy Social Club Adventure. These companions will be completely free and will be beneficial as we move into Stage # 5 getting special  merchandise 
        </div>
      </li>
     <li>
      <div>
        <time> # STAGE  NO. 5 CryptoYōsei  妖精 MARKET PLACE </time>  Member-only  Merch Store gets unlocked, Limited Edition, hoodies, and other goodies.
      </div>
    </li>
    <li>
  <div>
    <time> # STAGE  NO. 6 CryptoYōsei  妖精 COMMUNITY VOTE </time>-  Community holders votes on Community Future<br>-
    Only Nfts holder will decides on the next steps community is going to take 
</li>
    </ul>
  </section>
  <section  id="aboutus">
    <div class="hero container">
      <div class="service-top">
        <h1 class="section-title-white">OUR<span>  </span>STORY</h1>
        <h1>In a magical forest where the women are strong and fearless live magical fairies<span></span> who do whatever they want whenever they want without filters. They eat magical Sushi and drink magical Cocktails. From time to time their fun routine is disturbed by a new Adventure that you accompany....</h1>
        <!-- <h1>To CryptoYōsei  妖精 <span></span></h1> -->
        <!-- <h1> Your First NFT Social Club Collection<span></span></h1> -->

          <a href="#about" type="button" class="cta"> Road Map </a>
      </div>
  </div>
    
  </section>
 
    <script src="js/metamask-onboarding.bundle.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/splide.min.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/app.js"></script>
    <script src="js/roadmap.js"></script>
  </body>
</html>
